name: Excel to RDS Migration

on:
  workflow_dispatch:
    inputs:
      confirm_migration:
        description: 'Confirm database migration operation. This will load data into the database.'
        required: true
        type: boolean
        default: false
jobs:
  migrate:
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Deploy to EC2
        env:
          SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
          HOST: ${{ secrets.EC2_STG_HOST }}
          DB_URL: ${{ secrets.DB_URL }}
        run: |
          # Setup SSH
          mkdir -p ~/.ssh
          ssh-keyscan -H $HOST >> ~/.ssh/known_hosts
          echo "$SSH_KEY" > key.pem
          chmod 600 key.pem

          # Define project path on EC2
          PROJECT_PATH="/home/ubuntu/BeyondU-Data"

          # Create .env file directly on EC2
          ssh -i key.pem ubuntu@$HOST "echo \"DATABASE_URL=$DB_URL\" > $PROJECT_PATH/.env"

          # SSH to EC2 and run migration script
          ssh -i key.pem ubuntu@$HOST "

          # Navigate to the project directory
          cd $PROJECT_PATH

          # Pull the latest changes
          git pull


          # Set up python virtual environment and install dependencies
          python3 -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt



          if [ "${{ github.event.inputs.confirm_migration }}" != "true" ]; then
            echo "Database migration not confirmed. Exiting."
            exit 1
          fi

          # Run the ETL script
          # This example processes only the latest file from the 'data/raw' directory and initializes the DB.
          # You can customize the arguments as needed.
          python scripts/run_etl.py --input data/raw --latest-only --init-db

          "